div{
margin: 0px;
border: 0px;
font-size: 20px;
height: 80px; 
}
#header{
margin: 0px;
margin-top: 0px;
background-color: red;
width:  45%;
height: 500px;
float: left;
}
#leftSidebar{
margin: 0px;
margin-top: 240px;
margin-right: 0px;
background-color: green;
width: 45%;
height: 500px;
float: right;
}
#rightSidebar{
position: absolute;  
overflow: auto;
padding: 0px;
margin: 0px;
margin-top: 160px;
margin-left: 25%;
background-color: blue;
width: 45%;
height: 500px;
}